<!-- add_event.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'django_ace/ace.css' %}">
    <script src="{% static 'django_ace/ace.js' %}"></script>
</head>
<body>
    <h1>Add Event</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% comment %} <script>
        // Initialize the Ace editor for the event_description textarea
        var editor = ace.edit("id_event_description");  // Use the ID of the textarea
        editor.setOptions({
            mode: "ace/mode/plain_text",  // You can change this to another mode like 'ace/mode/python', 'ace/mode/html', etc.
            theme: "ace/theme/monokai",
            maxLines: 20,
            minLines: 10
        });
    </script> {% endcomment %}
</body>
</html>
